body {
    background-color: #354f52;
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Lobster', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Rubik Wet Pain';
    color: #8a817c;
    text-shadow: 2px 2px 4px black;
    margin: 10%;
    /* transition: font-size 0.3s ease; */
}

div {
    background-image: url("https://i.pinimg.com/564x/b8/99/49/b8994903d96d84b6e401dcf57a4ce903.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 90vh;
    border: 5px solid black;
    border-radius: 20%;
    margin-left: 30%;
    margin-top: 10%;
    margin-right: 10%;
    box-shadow: 40px 20px 20px #57cc99;
    transition: 0.5s;
}

div:hover {
    border-radius: 50%;
    background-image: url('https://i.pinimg.com/564x/25/ee/0f/25ee0fdeeb53add89dc1895966726862.jpg');
}

h1:hover {
    font-size: 25px;
    text-shadow: 6px 4px 4px #f48c06;
    color: #57cc99;
}