body {
    background-color: #2b2d42;
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

h1 {
    text-align: center;
}

.gradient-text {
    background: linear-gradient(to right, #ffb100, #bb3e03, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input {
    color: #8707ff;
    border: 2px solid #ffd60a;
    border-radius: 10px;
    padding: 10px 25px;
    background-color: #e9ff70;
    max-width: 190px;
}

.input:active {
    box-shadow: 2px 2px 15px #bb3e03;
}

.input:hover {
    box-shadow: 3px 3px 20px #ffd60a;
    border-radius: 50px;
}